
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 5rem;
  margin-bottom: 3;
  text-align: center;
  background-color:rgb(87, 86, 86);
  color : white;
}


.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
  color: #15BDCA;
}

.jumbotron .container {
  max-width: 40rem;
}


#navbarHeader{
  position: sticky;
}

#CardDeck{
  padding-bottom: 15rem;
}
#clock{
  text-align: right;
}


#calculator{
  padding-left: 20%;
  

}